.profile-group {
  position: relative;
  display: inline-block;

  &__toggle-button {
    cursor: pointer;
  }

  &__menu-container {
    width: 220px;
    max-height: 300px;
    overflow-y: auto;
  }
}
