/* src/components/EmojiGroup/ToggleEmoji.module.scss */

.toggle-emoji {
  display: flex;
  align-items: center;
  gap: 8px; /* 각 뱃지 간격 */

  &__button-icon {
    transition: transform 0.3s ease;

    &--open {
      transform: rotate(180deg);
    }
  }
}
