/* src/components/EmojiGroup/ToggleEmoji.module.scss */

.toggle-emoji {
  display: flex;
  align-items: center;
  gap: 8px; /* 각 뱃지 간격 */

  &__arrow {
    margin-left: 4px;
    width: 16px;
    height: 16px;
    cursor: pointer;
  }
}
