.slider {
  position: relative;
  display: flex;
  align-items: center;
  overflow: visible;

  &__arrow {
    &--left,
    &--right {
      // 기본: 숨김
      display: none;

      // 공통 위치 및 스타일
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      z-index: 2;

      // 데스크톱에서만 보이도록
      @include desktop {
        display: flex;
      }
    }

    &--left {
      left: -20px;
    }

    &--right {
      right: -20px;
    }
  }

  &__container {
    width: 100%;
    overflow: visible;
    @include mobile {
      overflow-x: auto;
      overflow-y: hidden;
      -webkit-overflow-scrolling: touch;
    }
    @include tablet {
      overflow-x: auto;
      overflow-y: hidden;
      -webkit-overflow-scrolling: touch;
    }
  }

  &__track {
    display: flex;
    gap: 16px;
    padding: 8px 0;
    overflow: visible;
  }
}
