.slider {
  position: relative;
  display: flex;
  align-items: center;
  margin: 0;

  &__arrow--left,
  &__arrow--right {
    z-index: 1;
    @media screen and (min-width: 355px) and (max-width: 1199px) {
      display: none;
    }
  }

  &__arrow--left {
    position: absolute;
    left: -20px;
  }

  &__arrow--right {
    position: absolute;
    right: -20px;
  }

  &__container {
    justify-content: flex-start;
  }

  &__track {
    display: flex;
    gap: 16px;
    transition: transform 0.3s ease;
  }
}
