.horizontal-scroll {
  display: grid;
  /* 아이템을 열 방향으로 배치하도록 설정 */
  grid-auto-flow: column;
  /* 각 아이템(열)의 너비는 내용 크기에 맞추기 */
  grid-auto-columns: max-content;
  align-items: center;
}

.horizontal-scroll--hide-scrollbar {
  overflow-x: auto;
  overflow-y: hidden;
  /* Firefox 스크롤바 숨김 */
  @supports (scrollbar-width: none) {
    scrollbar-width: none; /* Firefox 에서만 스크롤바 숨김 */
  }

  /* WebKit(Chrome, Safari 등) 스크롤바 숨김 */
  &::-webkit-scrollbar {
    display: none;
    width: 0;
    height: 0;
  }
}
