.list {
  width: 100%;
  padding-bottom: 40rem;
  display: flex;
  justify-content: center;
  align-items: start;

  &__container {
    padding: 32px 20px;
    min-height: 100dvh;
    width: 45rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 11px;
    max-width: var(--wrapper-width);

    @include tablet {
      padding: 49px 24px;
    }

    @include desktop {
      width: 100%;
      padding: 63px 24px;
    }
  }

  &__grid {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    gap: 16px;
    max-width: 100%;
    justify-items: center;
    margin: 0 auto;

    @include tablet {
      grid-template-columns: repeat(2, 1fr);
    }

    @include desktop {
      grid-template-columns: repeat(3, 1fr);
      gap: 24px;
    }
  }

  &__loading {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
}

.skeleton-list {
  @include skeleton-style;
  width: 100%;
  padding-bottom: 40rem;
  display: flex;
  justify-content: center;
  align-items: start;
}
