.header {
  display: flex;
  justify-content: center;
  background-color: var(--color-white);
  position: sticky;
  top: 0; // 뷰포트 최상단에 붙임
  z-index: 1000;

  &__container {
    display: flex;
    max-width: 1200px;
    width: 100%;
    height: 64px;
    align-items: center;
    justify-content: space-between;
    padding: 0 24px;
  }
}
