.badge {
	font-family: Pretendard;
	font-weight: 400;
	font-size: 14px;
	line-height: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 41px;
	height: 20px;
	border-radius: 4px;
}