$shadow-color: rgb(0, 0, 0, 0.08);

.container {
	background-color: #FFFFFF;
	box-shadow: 0 2px 12px $shadow-color;
	border-radius: 16px;
}

.divider {
	width: 100%;
	border-bottom: 1px solid var(--color-gray-200);
	margin-top: 19px;
}

.content-area {
	width: 100%;
	display: flex;
	flex-direction: column;
}