.container {
	display: flex;
	flex-direction: row;
	background-color: var(--color-gray-100);
	border-radius: 6px;
	height: 40px;
	width: fit-content;
	position: relative;
}

.button {
	background: none;
	border: none;
	border-radius: 6px;
	cursor: pointer;
	position: relative;
}

.button-label {
	font-weight: 400;
	font-size: 16px;
	color: var(--color-gray-900);
	position: absolute;
	z-index: 1;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	transition: color 0.3s ease;
	transition: font-weight 0.3s ease;
}

.selected {
	color: var(--color-purple-700);
	font-weight: 700;
}

.indicator {
	border: 2px solid var(--color-purple-600);
	border-radius: 6px;
	background-color: var(--color-white);
	height: 40px;
	position: absolute;
	top: 0;
	transition: transform 0.3s ease, width 0.3s ease;
}